/* BIND9 ACL config */
{% for acl_key,acl_value in bind9_config.acl.options %}
acl "{{ acl_key }}" {
{% if acl_value.comment is defined and acl_value.comment | length > 0 %}
	{{ acl_value.comment }}
{% endif %}
{% for netcode in acl_value.values %}
	{{ netcode }};
{% endfor %}
}
{% endfor %}
